$oswaldBold: 'oswaldbold', 'Open Sans', sans-serif;
$oswaldRegular: 'oswald_regularregular', 'Open Sans', sans-serif;
$oswaldLight: 'oswaldlight', 'Open Sans', sans-serif;
$robotoBlack: 'robotoblack', 'Open Sans', sans-serif;
$robotoLight: 'robotolight', 'Open Sans', sans-serif;
$robotoThin: 'robotothin', 'Open Sans', sans-serif;
$robotoRegular: 'robotoregular', 'Open Sans', sans-serif;

$greenLight: #50cbbe;
$greenGrad: linear-gradient(#34c9e2, #5cccaf);
$greenDark: #5cccaf;
$whiteSpecial: #f8fafd;
$greyLight: #f0f0f2;
$greyBorder: #f1f1f1;
$greyInput: #bbbbbb;
$grey: #858587;
$greyDark: #3b3b3b;
